body {
  margin: 0;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.pc {
  display: none;
}

/* ====================ヘッダーのスタイル==================== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}  /* ヘッダー位置を上に固定 */

#menu {
  position: absolute;
  left: -50px;
} /* ハンバーガーメニュー用checkboxを隠す */

/* ==========ヘッダー帯のスタイル========== */
.HeaderObi {
  width: 100%;
  height: 64px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0px #83838388;
} /* ヘッダー帯全体（container自体とitem配置）のスタイル */

.HeaderObi img {
  width: min(310px, 85vw);
} /* ロゴsizeのresponsive 310pxか85vwで小さい方 */

.openClose {
  margin: 10px;
  cursor: pointer;
} /* ハンバーガーメニュー【≡】マークの位置調整 右端から10px */

.openClose div {
  width: 30px;
  height: 2px;
  background-color: antiquewhite;
  margin: 6px auto;
  transition: all 0.2s;
} /* ハンバーガーメニュー【≡】マーク作成 */

/* =====ハンバーガーメニューcloseボタンに変形===== */
input[type="checkbox"]:checked ~ * #bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}
input[type="checkbox"]:checked ~ * #bar2 {
  opacity: 0;
}
input[type="checkbox"]:checked ~ * #bar3 {
  transform: rotate(-45deg) translate(6.5px, -6px);
}

/* =====ハンバーガーメニュー本体===== */
aside {
  width: 200px;
  height: 100vh;
  position: absolute;
  right: -200px;
  top: 64px;
  background-color:  #800808;
  transition: all 0.2s;
}
input[type="checkbox"]:checked ~ aside {
  right: 0;
}

input[type="checkbox"]:checked ~ .closeArea {
  position: absolute;
  top: 64px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
} /* 背景タッチでハンバーガーメニューを閉じる */

li {
  padding: 5px;
} /* リスト同士の間隔調整 */

li a {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: solid 1px;
} /* aside幅に広がる仕切り */

li .jump1 {
  font-size: 1.2rem;
} /* ページ間移動リンクのスタイル */
li .jump2 {
  font-size: 1rem;
  padding-left: 10px;
} /* ページ内移動リンクのスタイル */

/* ====================メインのスタイル==================== */
main {
  margin-top: 64px;
  margin-bottom: 64px;
  background: radial-gradient(#e7cc53, #e77f42);
  min-height: 100vh;
} /* メイン全体の背景とヘッダーフッターのスペース */

h1 {
  font-size: 20px;
  width: 98%;
  text-align: center;
  margin: 4px;
  margin-top: 0;
  margin-bottom: 10px;
  background-color: #800808;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

main .gallery {
  width: 100%;
  max-width: 850px;
  display: block;
  margin: 0 auto;
}

/* introのスタイル */
.intro {
  font-family: 'YuGothic', 'Yu Gothic', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 700px;
  color: #300;
  font-size: min(15px,3.5vw);
}

.intro em {
  font-style: unset;
  background: linear-gradient(transparent 70%, #ff99ab 70%);
}

.menu {
  margin: 15px auto;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1rem;
}

.menu a {
  color: #300;
}

/* newsのスタイル */
.news {
  margin: 10px;
  padding-top: 17vw;
  margin-top: -17vw;
  margin-bottom: 25px;
  border-radius: 3px;
}

.news h2 {
  text-align: center;
  margin: 0;
  padding: 5px;
  background-color: #800808;
  font-size: 16px;
  border-radius: 3px;
}

.news p {
  margin: 0;
  padding: 4px;
  font-size: 12px;
  background-color: #962f1d;
}

/* mapのスタイル */
.map {
  padding-top: 17vw;
  margin-top: -17vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gmap {
  width: 90%;
  max-width: 600px;
  height: 0;
  overflow: hidden;
  padding-bottom: min(50%, 50vh);
  position: relative;
}

.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.access {
  font-size: 12px;
  color: #300;
}

/* infoのスタイル */
.info {
  margin: 0 auto;
  margin-top: 25px;
  background: #984536;
  font-size: 14px;
  border-collapse: collapse;
}

.info th, .info td {
  border: solid 3px #880000;
}

.info th {
  font-weight: bold;
  padding: 8px;
  background-color: #853a2d;
}
.info td {
  padding-left: 8px;
  padding-right: 4px;
}

.calendar {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  margin-top: 20px;
}

.full_calendar {
  width: 278px;
  height: 246px;
  background-color: #880000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
}

.calendar th, .calendar td {
  width: 36px;
  height: 18.8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.calendar table {
  margin: 0 auto;
  border-collapse: collapse;
  background: #984536;
}

.next_month, .last_month {
  color: rgba(255, 245, 240, 0.37);
}

#YearMonth {
  background-color: #853a2d;
  margin: 0 auto;
  width: 268.8px;
  height: 24px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.thursday {
  background-color: #f17186;
}

.today {
  color: #ffb619;
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ff002f 90%);
}

.off_days {
  margin: 10px;
  font-weight: bolder;
}

.dayoff {
  margin: 10px;
  background-color: #f17186;
  width: 60px;
  padding: 3px;
  border: solid 3px #984536;
  border-radius: 5px;
}

.temp_dayoff {
  margin: 10px;
  background-color: #048eff;
  width: 72px;
  padding: 3px;
  border: solid 3px #984536;
  border-radius: 5px;
}

/* ====================フッターのスタイル==================== */
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 65px;
  background-color: #a52a2a;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -2px 0px #83838388;
}

footer .footerLink {
  height: 98%;
} /* リンクの反応範囲をフッターに広げる */

footer a {
  display: block;
  text-align: center;
  width: 30vw;
  height: 100%;
  padding-top: 20px;
} /* 文字をセンターに */

.border {
  height: 50%;
  border-right: solid 2px antiquewhite;
} /* フッターの仕切り */

@media (max-height: 480px), (min-width: 481px) {
  footer {
    display: none;
  } /* スマホ横持でフッターを消す */
  main {
    margin-bottom: 0;
  }
}

@media (min-width: 850px) {
  .openClose {
    display: none;
  }
  .pc {
    display: flex;
    position: absolute;
    right: 10px;
    top: 0;
    height: 64px;
    align-items: center;
  }
  .pc a {
    line-height: 64px;
    padding: 0 20px;
  }
  .pc a:hover {
    background-color: rgba(110, 110, 110, 0.5);
  }
}

.copyright {
  margin: 0;
  background-color: rgb(65, 65, 65);
  text-align: center;
  font-size: 12px;
  padding-bottom: 2px;
}

.drinkMenu {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
}
